<div class="container-fluid">
  <div class="row sidebar-owner">
    <div class="sidebar-backdrop"></div>
    <div class=" col-md-12">
      <div class="sidebar-outer">
        <div class="container-padding">
          <div class="page-header">
            <ol class="breadcrumb pgui-breadcrumb">
              <li>
                <a href="#"><i class="icon-home"></i></a>
              </li>
              <li class="dropdown">
                <a href="#">Contratos</a>
              </li>
              <li class="dropdown">Creación de contratos</li>
            </ol>
            <h1>Listado de contratos</h1>
          </div>
          <div class="grid grid-table js-grid">
            <div class="addition-block js-actions">
              <div class="btn-toolbar addition-block-left pull-left">
                <div class="btn-group">
                  <a class="btn btn-default pgui-add" routerLink="/contratos/create" title="Agregar">
                    <i class="icon-plus"></i>
                    <span class="visible-lg-inline">Agregar</span>
                  </a>
                </div>
              </div>
              <div class="addition-block-right pull-right js-quick-filter">
                <div class="quick-filter-toolbar btn-group">
                  <div class="input-group js-filter-control">
                    <input class="js-input form-control" name="quick_filter" placeholder="Busqueda rápida" size="16" type="text" value="">
                    <div class="input-group-btn dropdown dropdown-lg">
                      <button class="btn btn-default js-submit" title="Buscar " type="button"><i class="icon-search"></i></button>
                      <button class="btn btn-default js-reset" title="Limpiar" type="button"><i class="icon-filter-reset"></i></button>
                    </div>
                  </div>
                </div><span class="hidden-xs">&thinsp;</span>
              </div>
            </div>
            <div class="filter-status js-filter-status"></div>
            <div class="js-grid-message-container"></div>
            <table class="table text-center table-striped">
              <thead class="js-column-filter-container">
                <tr>
                  <th rowspan="1" style="width:1%;">Acciones</th>
                  <th class="" colspan="1" rowspan="1"><span>Número del Contrato</span></th>
                  <th class="" colspan="1" rowspan="1"><span>Cedula y Nombre</span></th>
                  <th class="" colspan="1" rowspan="1">
                    <span>Zona y Sector</span>
                  </th>
                  <th class="" colspan="1" rowspan="1">
                    <span>Servicios</span>
                  </th>
                  <th class="" colspan="1" rowspan="1">
                    <span>Estado del contrato</span>
                  </th>
                </tr>
              </thead>
              <tbody class="pg-row-list">
                <tr class="pg-row" style="">

                  <td class="operation-column">
                    <span class="operation-item" data-column-name="view">
                      <a class="link-icon" href="#" title="View">
                        <i class="icon-view"></i>
                      </a>
                    </span>
                    <span class="operation-item" data-column-name="edit">
                      <a class="link-icon" routerLink="/contratos/edit/1" title="Edit">
                        <i class="icon-edit"></i>
                      </a>
                    </span>

                  </td>
                  <td data-column-name="id" data-edit-url="">3793</td>
                  <td class=" pgui-cell-edit">(94541178) - Jefferson José Medina</td>
                  <td class=" pgui-cell-edit"> Zona - sector </td>
                  <td class=" pgui-cell-edit"> Basico de 3 megas </td>
                  <td class=" pgui-cell-edit">Por instalar</td>
                </tr>
                <tr class="empty-grid hidden">
                  <td colspan="7">
                    <div class="alert alert-warning empty-grid">
                      There are no records to display
                    </div>
                  </td>
                </tr>
              </tbody>
              <tfoot></tfoot>
            </table>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
