<form class="form-horizontal"  [formGroup]="form" novalidate (ngSubmit)="onSavePersona()">
<div class="container-fluid">
  <div class="row sidebar-owner">
    <div class="sidebar-backdrop"></div>
    <div class=" col-md-12">
      <div class="sidebar-outer">
        <div class="container-padding">
          <div class="page-header form-header">
            <ol class="breadcrumb pgui-breadcrumb">
              <li>
                <a href="#"><i class="icon-home"></i></a>
              </li>
              <li class="dropdown">
                <a href="#">Creacion Personas</a>
              </li>
              <li class="dropdown">Agregar nueva persona</li>
            </ol>
            <h1>Agregar nueva Persona</h1>
          </div>
          <div class="col-md-12 js-form-container">
            <div class="row">
              <div class="js-form-collection col-lg-12">
                  <div class="clearfix"></div>
                  <div class="row">
                    <fieldset class="col-md-6 form-horizontal">
                      <div class="row">
                        <div [className]="'form-group form-group-label col-sm-3'"
                           [ngClass]="{
                          'has-error' : !(validationService.obsTipoDocumento | async)
                          }">
                          <label class="control-label">Tipo Documento <span class="required-mark">*</span></label>
                        </div>
                        <div class="form-group col-sm-9">
                          <div class="col-input" data-column="tipo_documento" style="width:100%;max-width:100%">
                            <ng-select
                              [items]="listTipoDocumento"
                              [multiple]="false"
                              [closeOnSelect]="true"
                              bindLabel="value"
                              formControlName="tipo_documento"
                              (change)="changeState( $event ,'tipodocumento')"
                              placeholder="Asignar Tipo Documento">
                          </ng-select>
                          <span *ngIf="!(validationService.obsTipoDocumento | async)" class="help-block" style="color:#E74C3C" >El tipo de documento es obligatorio.</span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div [className]="'form-group form-group-label col-sm-3'"
                           [ngClass]="{
                          'has-error' : !(validationService.obsNumeroDocumento | async)
                          }">
                          <label class="control-label">No Documento <span class="required-mark">*</span></label>
                        </div>
                        <div class="form-group col-sm-9">
                          <div class="col-input" data-column="numero_documento" style="width:100%;max-width:100%">
                            <input
                             class="form-control"
                             formControlName="numero_documento"
                             maxlength="35"
                             name="numero_documento"
                             type="text"
                             (input)="validationService.inputNumeroDocumento( $event.target.value )"
                             value="">
                            <span *ngIf="!(validationService.obsNumeroDocumento | async)" class="help-block" style="color:#E74C3C" >El número documento es obligatorio.</span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div [className]="'form-group form-group-label col-sm-3'"
                           [ngClass]="{
                          'has-error' : !(validationService.obsNombres | async)
                          }">
                          <label class="control-label">Nombres <span class="required-mark">*</span></label>
                        </div>
                        <div class="form-group col-sm-9">
                          <div class="col-input" data-column="nombres" style="width:100%;max-width:100%">
                            <input
                            class="form-control"
                            formControlName="nombres"
                            maxlength="35"
                            name="nombres_edit"
                            type="text"
                            (input)="validationService.inputNombres( $event.target.value )"
                            value="">
                            <span *ngIf="!(validationService.obsNombres | async)" class="help-block" style="color:#E74C3C" >El nombre no ser vacio.</span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div [className]="'form-group form-group-label col-sm-3'"
                           [ngClass]="{
                          'has-error' : !(validationService.obsApellidos | async)
                          }">
                          <label class="control-label">Apellidos <span class="required-mark">*</span></label>
                        </div>
                        <div class="form-group col-sm-9">
                          <div class="col-input" data-column="Apellidos" style="width:100%;max-width:100%">
                            <input
                            class="form-control"
                            formControlName="apellidos"
                            name="Apellidos"
                            type="text"
                            (input)="validationService.inputApellidos( $event.target.value )"
                            value="">
                            <span *ngIf="!(validationService.obsApellidos | async)" class="help-block" style="color:#E74C3C" >Los apellidos no pueden ser vacios.</span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group form-group-label col-sm-3">
                          <label class="control-label">Email</label>
                        </div>
                        <div class="form-group col-sm-9">
                          <div class="col-input" data-column="Email" style="width:100%;max-width:100%">
                            <input class="form-control"  formControlName="email" name="email" type="text" value="">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div [className]="'form-group form-group-label col-sm-3'"
                           [ngClass]="{
                          'has-error' : !(validationService.obsTipoPersona | async)
                          }">
                          <label class="control-label">Tipo persona <span class="required-mark">*</span></label>
                        </div>
                        <div class="form-group col-sm-9">
                          <div class="col-input" data-column="tipo_persona" style="width:100%;max-width:100%">
                            <ng-select
                              [items]="listTipoPersona"
                              [multiple]="false"
                              [closeOnSelect]="true"
                              bindLabel="value"
                              formControlName="tipo_persona"
                              (change)="changeState( $event ,'tipopersonas')"
                              placeholder="Asignar Tipo de Persona">
                            </ng-select>
                            <span *ngIf="!(validationService.obsTipoPersona | async)" class="help-block" style="color:#E74C3C" >El tipo de persona, no puede ser vacio.</span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div [className]="'form-group form-group-label col-sm-3'"
                           [ngClass]="{
                          'has-error' : !(validationService.obsSexo | async)
                          }">
                          <label class="control-label">Sexo <span class="required-mark">*</span></label>
                        </div>
                        <div class="form-group col-sm-9">
                          <div class="col-input" data-column="sexo" style="width:100%;max-width:100%">
                            <ng-select
                              [items]="listTipoSexo"
                              [multiple]="false"
                              [closeOnSelect]="true"
                              bindLabel="value"
                              formControlName="sexo"
                              (change)="changeState( $event ,'tiposexo')"
                              placeholder="Asignar Tipo de Sexo">
                          </ng-select>
                          <span *ngIf="!(validationService.obsSexo | async)" class="help-block" style="color:#E74C3C" >El sexo no puede estar vacio.</span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div [className]="'form-group form-group-label col-sm-3'"
                           [ngClass]="{
                          'has-error' : !(validationService.obsEstadoCivil | async)
                          }">
                          <label class="control-label">Estado Civil <span class="required-mark">*</span></label>
                        </div>
                        <div class="form-group col-sm-9">
                          <div class="col-input" data-column="estado civil" style="width:100%;max-width:100%">
                            <ng-select
                              [items]="listTipoEstadoCivil"
                              [multiple]="false"
                              [closeOnSelect]="true"
                              bindLabel="value"
                              formControlName="estado_civil"
                              (change)="changeState( $event ,'tipoestadocivil')"
                              placeholder="Asignar Tipo Estado Civil">
                            </ng-select>
                          <span *ngIf="!(validationService.obsEstadoCivil | async)" class="help-block" style="color:#E74C3C" >El estado civil , no puede ser vacio..</span>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                    <fieldset class="col-md-6 form-horizontal">
                      <div class="row">
                        <div [className]="'form-group form-group-label col-sm-3'"
                           [ngClass]="{
                          'has-error' : !(validationService.obsFechaNacimiento | async)
                          }">
                          <label class="control-label">Fecha de Nacimiento <span class="required-mark">*</span></label>
                        </div>
                        <div class="form-group col-sm-9">
                          <div class="col-input" data-column="fecha_nacimiento" style="width:100%;max-width:100%">
                            <input
                              class="form-control"
                              formControlName="fecha_nacimiento"
                              maxlength="35"
                              name="fecha_nacimiento"
                              (input)="validationService.inputFechaNacimiento( $event.target.value )"
                              type="date"
                              value="">
                              <span *ngIf="!(validationService.obsFechaNacimiento | async)" class="help-block" style="color:#E74C3C" >La fecha de nacimiento , no puede ser vacia.</span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div [className]="'form-group form-group-label col-sm-3'"
                           [ngClass]="{
                             'has-error' : !(validationService.obsDireccion | async)
                          }">
                          <label class="control-label">Dirección <span class="required-mark">*</span></label>
                        </div>
                        <div class="form-group col-sm-9">
                          <div class="col-input" data-column="direccion" style="width:100%;max-width:100%">
                            <input
                            class="form-control"
                            formControlName="direccion"
                            maxlength="35"
                            name="direccion"
                            (input)="validationService.inputDireccion( $event.target.value )"
                            type="text"
                            value="">
                            <span *ngIf="!(validationService.obsDireccion | async)" class="help-block" style="color:#E74C3C" >La dirección ,no puede ser vacia.</span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div [className]="'form-group form-group-label col-sm-3'"
                           [ngClass]="{
                             'has-error' : !(validationService.obsTelefono | async)
                          }">
                          <label class="control-label">Teléfono <span class="required-mark">*</span></label>
                        </div>
                        <div class="form-group col-sm-9">
                          <div class="col-input" data-column="telefono" style="width:100%;max-width:100%">
                            <input
                            class="form-control"
                            formControlName="telefono"
                            maxlength="35"
                            name="telefono"
                            (input)="validationService.inputTelefono( $event.target.value )"
                            type="text"
                            value="">
                            <span *ngIf="!(validationService.obsTelefono | async)" class="help-block" style="color:#E74C3C" >El teléfono ,no puede ser vacio.</span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div [className]="'form-group form-group-label col-sm-3'"
                           [ngClass]="{
                             'has-error' : !(validationService.obsCelular | async)
                          }">
                          <label class="control-label">Celular <span class="required-mark">*</span></label>
                        </div>
                        <div class="form-group col-sm-9">
                          <div class="col-input" data-column="celular" style="width:100%;max-width:100%">
                            <input
                              class="form-control"
                              formControlName="celular"
                              name="celular"
                              (input)="validationService.inputCelular( $event.target.value )"
                              type="text"
                              value="">
                              <span *ngIf="!(validationService.obsCelular | async)" class="help-block" style="color:#E74C3C" >El celular ,no puede ser vacio.</span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div [className]="'form-group form-group-label col-sm-3'"
                           [ngClass]="{
                             'has-error' : !(validationService.obsUsuario | async)
                          }">
                          <label class="control-label">Usuario <span class="required-mark">*</span></label>
                        </div>
                        <div class="form-group col-sm-9">
                          <div class="col-input" data-column="usuario" style="width:100%;max-width:100%">
                            <input
                            class="form-control"
                            formControlName="usuario"
                            id="usuario"
                            name="usuario"
                            (input)="validationService.inputUsuario( $event.target.value )"
                            maxlength="50"
                            type="text"
                            value="">
                            <span *ngIf="!(validationService.obsUsuario | async)" class="help-block" style="color:#E74C3C" >El usuario ,no puede ser vacio.</span>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="form-group form-group-label col-sm-3">
                          <label class="control-label">Password <span class="required-mark">*</span></label>
                        </div>
                        <div class="form-group col-sm-9">
                          <div class="col-input" data-column="usuario" style="width:100%;max-width:100%">
                            <input class="form-control"  formControlName="password" id="password" name="password" maxlength="50" type="password" value="">
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="form-group form-group-label col-sm-3">
                          <label class="control-label">Empresa <span class="required-mark">*</span></label>
                        </div>
                        <div class="form-group col-sm-9">
                          <div class="col-input" data-column="empresa" style="width:100%;max-width:100%">
                          <ng-select
                            [items]="listTipoEmpresa"
                            [multiple]="false"
                            [closeOnSelect]="true"
                            bindLabel="value"
                            formControlName="empresa"
                            placeholder="Asignar empresa">
                        </ng-select>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group form-group-label col-sm-3">
                          <label class="control-label">Rol <span class="required-mark">*</span></label>
                        </div>
                        <div class="form-group col-sm-9">
                          <div class="col-input" data-column="rol" style="width:100%;max-width:100%">
                            <ng-select
                              [items]="listTipoRol"
                              [multiple]="true"
                              [closeOnSelect]="true"
                              bindLabel="value"
                              formControlName="rol"
                              placeholder="Asignar Rol">
                          </ng-select>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                  <div class="row">
                    <div class="col-sm-9 col-sm-offset-3">
                      <span class="required-mark">*</span> - Required field
                    </div>
                  </div><input name="flash_messages" type="hidden" value="1">
                  <div class="row">
                    <div class="col-md-12 form-error-container form-error-container-bottom"></div>
                  </div>
              </div>
            </div>
            <div class="form-actions row">
              <div class="col-lg-8">
                <div class="row">
                  <div class="col-sm-9 col-sm-offset-3">
                    <div class="btn-toolbar">
                      <div class="btn-group">
                        <button class="btn btn-primary js-save js-primary-save" data-action="open" data-url="#" type="submit">Guardar</button> <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                          <span class="icon-file"></span>
                        </button>
                      </div>
                      <div class="btn-group">
                        <a class="btn btn-default" routerLink="/personas">Cancelar</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
</form>
