<div class="container-fluid">
  <div class="row sidebar-owner">
    <div class=" col-md-12">
      <div class="sidebar-outer">
        <div class="container-padding">
          <div id="pgui-view-grid">
            <div class="page-header">
              <ol class="breadcrumb pgui-breadcrumb">
                <li>
                  <a href="#"><i class="icon-home"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#">View roles</a>
                </li>
                <li class="dropdown">View</li>
              </ol>
              <h1>View</h1>
            </div>
            <div class="form-horizontal">
              <div class="form-actions form-actions-top row">
                <div class="col-lg-8">
                  <div class="row">
                    <div class="col-sm-9 col-sm-offset-3">
                      <div class="btn-toolbar">
                        <div class="btn-group">
                          <a class="btn btn-primary" routerLink="/contratos" title="Atras">
                            <i class="icon-arrow-left"></i>
                            <span class="hidden-sm hidden-xs">Atras</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 js-message-container"></div>
                <div class="clearfix"></div>
                <div class="form-horizontal col-lg-8">
                  <div class="row">
                    <fieldset class="col-md-12 form-static form-horizontal">
                      <div class="row">
                        <div class="form-group form-group-label col-sm-3">
                          <label class="control-label" data-column="id">Id</label>
                        </div>
                        <div class="form-group col-sm-9">
                          <div class="form-control-static">
                            1024
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group form-group-label col-sm-3">
                          <label class="control-label" data-column="name">Name</label>
                        </div>
                        <div class="form-group col-sm-9">
                          <div class="form-control-static pgui-cell-edit">
                            Mumbai (Bombay)
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group form-group-label col-sm-3">
                          <label class="control-label" data-column="countrycode">Country</label>
                        </div>
                        <div class="form-group col-sm-9">
                          <div class="form-control-static pgui-cell-edit">
                            India
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group form-group-label col-sm-3">
                          <label class="control-label">District</label>
                        </div>
                        <div class="form-group col-sm-9">
                          <div class="form-control-static pgui-cell-edit">
                            Maharashtra
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group form-group-label col-sm-3">
                          <label class="control-label" data-column="population">Population</label>
                        </div>
                        <div class="form-group col-sm-9">
                          <div class="form-control-static pgui-cell-edit">
                            10,500,000
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
              </div>
              <div class="form-actions row">
                <div class="col-lg-8">
                  <div class="row">
                    <div class="col-sm-9 col-sm-offset-3">
                      <div class="btn-toolbar">
                        <div class="btn-group">
                          <a class="btn btn-primary" routerLink="/contratos"  title="Back to list">
                            <i class="icon-arrow-left"></i>
                            <span class="hidden-sm hidden-xs">Atras </span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
