<div *ngIf="team | async; let team;">
  <h2>{{title}}</h2>

  <div class="row">
    <div class="col-sm-3">
      <img *ngIf="team.image" src="assets/images/{{team.image}}" alt="{{team.name}}" width="300px" height="450px"/>
      <img *ngIf="!team.image" src="assets/images/not-available.png" width="130px" height="100px"/>
    </div>
    <div class="col-sm-9">
      <div class="row">
        <label class="col-sm-2">Name:</label>
        <div class="col-sm-9">{{team.name}}</div>
      </div>
      <div class="row">
        <label class="col-sm-2">Cities: </label>
        <div class="col-sm-9">{{team.cities | extractNames : (cities|async)}}</div>
      </div>
      <div class="row">
        <label class="col-sm-2">Released: </label>
        <div class="col-sm-9">{{city.releaseDate}}</div>
      </div>
      <div class="row">
        <label class="col-sm-2">Description: </label>
        <div class="col-sm-9">{{city.description}}</div>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-secondary btn-sm" routerLink="/teams">
          <i class="fa fa-arrow-left"></i> Back
        </button>
        <button type="button" (click)="delete(team.id)" class="btn btn-danger btn-sm">
          <i class="fa fa-times"></i> Delete
        </button>
      </div>
    </div>
  </div>
</div>
