<div class="container-fluid">
  <div class="row sidebar-owner">
    <div class="sidebar-backdrop"></div>
    <div class=" col-md-12">
      <div class="sidebar-outer">
        <div class="container-padding">
          <div class="page-header">
            <ol class="breadcrumb pgui-breadcrumb">
              <li>
                <a href="#"><i class="icon-home"></i></a>
              </li>
              <li class="dropdown">
                <a href="#">Listado de facturas</a>
              </li>
              <li class="dropdown">Facturas</li>
            </ol>
            <h1>Mis Facturas</h1>
          </div>
          <div class="divTable">
          	<div class="divTableBody">
          		<div class="divTableRow">
          			<div class="divTableCell">
                <p id="rcorners2">
                   <b style="font-size: 20px;">435</b>
                   <br>
                   <font size="2" color="#DC143C">Mensualidades Pagadas Mayo</font>
                   <br>
                   <i style="font-size: 50px; padding-left: 100px;" class="icon-settings"></i>
                </p>
                </div>
                <div class="divTableCell">
                <p id="rcorners2">
                   <b style="font-size: 20px;">250</b>
                   <br>
                   <font size="2" color="#DC143C">Mensualidades Pendientes Mayo</font>
                   <br>
                   <i style="font-size: 50px; padding-left: 100px;" class="icon-time"></i>
                </p>
                </div>
                <div class="divTableCell">
                <p id="rcorners2">
                   <b style="font-size: 20px;">29</b>
                   <br>
                   <font size="2" color="#DC143C">Mensualidades Pagadas Abril</font>
                   <br>
                   <i style="font-size: 50px; padding-left: 100px;" class="icon-home"></i>
                </p>
                </div>
                <div class="divTableCell">
                <p id="rcorners2">
                   <b style="font-size: 20px;">54</b>
                   <br>
                   <font size="2" color="#DC143C">Mensualidades Adelantadas</font>
                   <br>
                   <i style="font-size: 50px; padding-left: 100px;" class="icon-question"></i>
                </p>
                </div>
          		</div>
          	</div>
          </div>
          <div class="grid grid-table js-grid">
            <div class="addition-block js-actions">
              <div class="btn-toolbar addition-block-left pull-left">
                <div class="btn-group">
                    <span class="visible-lg-inline">
                      <h4><b style="color:#DC143C">{{nameComplete}}</b></h4>
                    </span>
                </div>
              </div>
              <div class="btn-toolbar addition-block-left pull-right">
                <div class="btn-group">
                  <a class="btn btn-default pgui-add" routerLink="/facturas" title="Agregar rol">
                    <i class="icon-chevron-left"></i>
                    <span class="visible-lg-inline">Regresar</span>
                  </a>
                </div>
                <div class="btn-group">
                  <a class="btn btn-default pgui-add" [routerLink]="['/facturas/create']" [state]="myFacturas" title="Agregar rol">
                    <i class="icon-plus"></i>
                    <span class="visible-lg-inline">Crear Facturas</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="filter-status js-filter-status"></div>
            <div class="js-grid-message-container"></div>
            <table class="table text-center table-striped">
              <thead class="js-column-filter-container">
                <tr>
                  <th class="row-selection" rowspan="1" style="width:1%;">
                    <!--<input type="checkbox">-->
                  </th>
                  <th rowspan="1" style="width:1%;">Acciones</th>
                  <th class="" colspan="1" rowspan="1">
                    <span>Fecha pago</span>
                  </th>
                  <th class="" colspan="1" rowspan="1">
                      <span># Factura</span>
                  </th>
                  <th class="" colspan="1" rowspan="1">
                      <span>Concepto</span>
                  </th>
                  <th class="" colspan="1" rowspan="1">
                      <span>Monto</span>
                  </th>
                  <th class="" colspan="1" rowspan="1">
                      <span>Estado</span>
                  </th>
                </tr>
              </thead>
              <tbody class="pg-row-list">
                <tr class="pg-row" style="" *ngFor="let data of myFacturas | paginate: { itemsPerPage: 10, currentPage: p }">
                  <td style="" >
                    <div class="row-selection">
                      <!--<input id="rec1" name="rec1" type="checkbox">-->
                    </div>
                  </td>
                  <td class="operation-column">
                    <span class="operation-item">
                      <a class="link-icon"  title="Consultar facturas" [routerLink]="['/facturas/view']" [state]="data">
                        <i class="icon-view"></i>
                      </a>
                    </span>
                    <span class="operation-item">
                      <a class="link-icon" title="Pagar facturas" [routerLink]="['/facturas/edit']" [state]="data">
                        <i class="icon-edit"></i>
                      </a>
                    </span>
                    <span class="operation-item">
                      <a class="link-icon" title="Anular facturas" [routerLink]="['/facturas/delete']" [state]="data">
                        <i class="icon-remove"></i>
                      </a>
                    </span>
                  </td>
                  <td class=" pgui-cell-edit">{{data.factura.factFechaCreacion |  date:'dd/MM/yyyy' }}</td>
                  <td class=" pgui-cell-edit">{{data.factura.factNfactura}}</td>
                  <td class=" pgui-cell-edit">{{data.factura.factConcepto}}</td>
                  <td class=" pgui-cell-edit">{{data.factura.factBase | number }}</td>
                  <td class=" pgui-cell-edit">{{data.factura.estado.esfaDescrpcion}}</td>
                </tr>
              </tbody>
              <tfoot></tfoot>
            </table>
          </div>
          <div class="page_navigator">
            <div class="pgui-pagination">
              <pagination-controls
                  class="pagination"
                  (pageChange)="p = $event"
                  previousLabel="Anterior"
                  nextLabel="Siguiente"
                  screenReaderPaginationLabel="Paginacion"
                  screenReaderPageLabel="Pagina"
                  screenReaderCurrentLabel="Estas en la pagina">
                </pagination-controls>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
