<form class="form-horizontal"  [formGroup]="form" novalidate (ngSubmit)="onPagarFactura()">
<div class="container-fluid">
  <div class="row sidebar-owner">
    <div class="sidebar-backdrop"></div>
    <div class=" col-md-12">
      <div class="sidebar-outer">
        <div class="container-padding">
          <div class="page-header form-header">
            <ol class="breadcrumb pgui-breadcrumb">
              <li>
                <a href="#"><i class="icon-home"></i></a>
              </li>
              <li class="dropdown">
                <a href="#">Facturación de servicios</a>
              </li>
            </ol>
          </div>
          <div class="col-md-12 js-form-container">
            <div class="row">
              <div class="js-form-collection col-lg-12">
                  <div class="clearfix"></div>
                  <div class="row">
                    <fieldset class="col-md-6 form-horizontal">
                      <div class="row">
                        <div class="form-group form-group-label col-sm-3">
                          <label class="control-label">Número contrato</label>
                        </div>
                        <div class="form-group col-sm-9">
                          <div class="col-input" style="width:100%;max-width:100%">
                            <input class="form-control"  name="numero_contrato" type="text" readonly  value="{{idContrato}}">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group form-group-label col-sm-3">
                          <label class="control-label">Fecha </label>
                        </div>
                        <div class="form-group col-sm-9">
                          <div class="col-input" style="width:100%;max-width:100%">
                            <input class="form-control" name="fecha" type="text" readonly  value="{{fecha |  date:'dd/MM/yyyy' }}">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group form-group-label col-sm-3">
                          <label class="control-label"># Factura </label>
                        </div>
                        <div class="form-group col-sm-9">
                          <div class="col-input" style="width:100%;max-width:100%">
                            <input class="form-control" name="numero_factura" type="text" readonly  value="{{numeroFactura}}">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group form-group-label col-sm-3">
                          <label class="control-label">Cliente</label>
                        </div>
                        <div class="form-group col-sm-9">
                          <div class="col-input" style="width:100%;max-width:100%">
                            <input class="form-control" name="cliente" type="text" readonly  value="{{cliente}}">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group form-group-label col-sm-3">
                          <label class="control-label">Documento</label>
                        </div>
                        <div class="form-group col-sm-9">
                          <div class="col-input" style="width:100%;max-width:100%">
                            <input class="form-control" name="documento" type="text" readonly  value="{{numeroDocumento}}">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group form-group-label col-sm-3">
                          <label class="control-label">Zona</label>
                        </div>
                        <div class="form-group col-sm-9">
                          <div class="col-input" style="width:100%;max-width:100%">
                            <input class="form-control"  name="zona" type="text" readonly  value="{{zona}}">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group form-group-label col-sm-3">
                          <label class="control-label">Sector </label>
                        </div>
                        <div class="form-group col-sm-9">
                          <div class="col-input" style="width:100%;max-width:100%">
                            <input class="form-control"  name="sector" type="text" readonly  value="{{sector}}">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group form-group-label col-sm-3">
                          <label class="control-label">Medio de pago <span class="required-mark">*</span></label>
                        </div>
                        <div class="form-group col-sm-9">
                          <div class="col-input" style="width:100%;max-width:100%">
                            <ng-select
                              [items]="listFrom"
                              [multiple]="false"
                              [closeOnSelect]="true"
                              bindLabel="value"
                              placeholder="BuscarForma de pago"
                              (change)="selectMedioPago($event)">
                            </ng-select>
                        </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group form-group-label col-sm-3">
                          <label class="control-label">&nbsp;</label>
                        </div>
                        <div class="form-group col-sm-9">
                          <div class="col-input" style="width:100%;max-width:100%">
                            <div class="btn-toolbar">
                              <div class="btn-group">
                                <a class="btn btn-default" routerLink="/facturas/detail/{{idContrato}}">Regresar</a>
                              </div>
                              <div class="btn-group">
                                <button class="btn btn-default"  type="submit" >Pagar factura </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                    <fieldset class="col-md-6 form-horizontal">
                      <div class="row">
                        <div class="form-group form-group-label col-sm-3">
                          <label class="control-label">Dirección </label>
                        </div>
                        <div class="form-group col-sm-9">
                          <div class="col-input" style="width:100%;max-width:100%">
                            <input class="form-control" name="direccion" type="text" readonly value="{{direccion}}">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group form-group-label col-sm-3">
                          <label class="control-label">Email <span class="required-mark">*</span></label>
                        </div>
                        <div class="form-group col-sm-9">
                          <div class="col-input" style="width:100%;max-width:100%">
                            <input class="form-control" name="email" type="text" readonly value="{{email}}">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group form-group-label col-sm-3">
                          <label class="control-label">Teléfono </label>
                        </div>
                        <div class="form-group col-sm-9">
                          <div class="col-input" style="width:100%;max-width:100%">
                            <input class="form-control"  name="telefono" type="text" readonly value="{{telefono}}">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group form-group-label col-sm-3">
                          <label class="control-label">Servicio </label>
                        </div>
                        <div class="form-group col-sm-9">
                          <div class="col-input"  style="width:100%;max-width:100%">
                            <input class="form-control" name="seervicio" type="text" readonly value="{{servicio}}">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group form-group-label col-sm-3">
                          <label class="control-label">Mes / Orden a pagar </label>
                        </div>
                        <div class="form-group col-sm-9">
                          <div class="col-input"  style="width:100%;max-width:100%">
                            <input class="form-control"  name="mes_orden_a_pagar" readonly type="text" value="{{mes}}">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group form-group-label col-sm-3">
                          <label class="control-label">Clasificación</label>
                        </div>
                        <div class="form-group col-sm-9">
                          <div class="col-input" style="width:100%;max-width:100%">
                            <input class="form-control"  name="claCliente" type="text" readonly type="text" value="{{claCliente}}">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group form-group-label col-sm-3">
                          <label class="control-label">Estado </label>
                        </div>
                        <div class="form-group col-sm-9">
                          <div class="col-input" data-column="empresa" style="width:100%;max-width:100%">
                            <input class="form-control" name="estado" type="text" readonly value="{{estado}}">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group form-group-label col-sm-3">
                          <label class="control-label">Código</label>
                        </div>
                        <div class="form-group col-sm-9">
                          <div class="col-input" style="width:100%;max-width:100%">
                            <input class="form-control"  name="codigo" type="text" [disabled]="booCodigo" value="">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group form-group-label col-sm-3">
                          <label class="control-label">&nbsp;</label>
                        </div>
                        <div class="form-group col-sm-9">
                          <div class="col-input" style="width:100%;max-width:100%">
                            <div class="divTable">
                            	<div class="divTableBody">
                            		<div class="divTableRow">
                            			<div class="divTableCell" style="font-size:25px;text-align: center;">Valor base</div>
                            			<div class="divTableCell"
                                    style="
                                    font-size:25px;
                                    font-weight:bold;
                                    text-align: center;
                                    background-color: lightblue;
                                    ">
                                    <span>
                                      <input
                                      style="font-size:25px;text-align: center;"
                                      class="form-control"
                                      name="valor_base"
                                      type="text"
                                      formControlName ="valorbase"
                                      (input)="valBase($event.target.value)"
                                      maxlength="10" >
                                     </span>
                                   </div>
                            		</div>
                            		<div class="divTableRow">
                                  <div class="divTableCell" style="font-size:25px;text-align: center;padding-top: 20px;">
                                    <table>
                                  		<tr  style="width: 50px;margin:50px;">
                                  			<td>Descuento&nbsp;</td>
                                  			<td>
                                            <input
                                            class="form-control"
                                            name="descuento"
                                            style="width: 70px;font-size:25px;text-align: center;"
                                            size="2"
                                            value="0"
                                            (input)="calDescuento($event.target.value)"
                                            maxlength="2"
                                            type="text"
                                            formControlName ="valordcto"
                                            >
                                        </td>
                                  		</tr>
	                                  </table>
                                  </div>
                            			<div class="divTableCell"
                                    style="
                                    font-size:25px;
                                    font-weight:bold;
                                    text-align: center;
                                    background-color: lightblue;
                                    margin: auto;
                                    width: 50%;
                                    padding: 10px">
                                        $ {{calcSubDescuento | number:'1.0-0' }}
                                   </div>
                            		</div>
                            		<div class="divTableRow">
                                  <div class="divTableCell" style="font-size:25px;text-align: center;">Sub -Total</div>
                                  <div class="divTableCell"
                                    style="
                                    font-size:25px;
                                    font-weight:bold;
                                    text-align: center;
                                    background-color: lightblue;
                                    ">
                                    <span> $ {{subtotal | number:'1.0-0' }} </span>
                                   </div>
                            		</div>
                            		<div class="divTableRow">
                                  <div class="divTableCell" style="font-size:25px;text-align: center;">IVA {{iva}} %</div>
                                  <div class="divTableCell"
                                    style="
                                    font-size:25px;
                                    font-weight:bold;
                                    text-align: center;
                                    background-color: lightblue;
                                    ">
                                    <span> $ {{valorIva | number:'1.0-0' }} </span>
                                   </div>
                            		</div>
                            		<div class="divTableRow">
                                  <div class="divTableCell" style="font-size:25px;text-align: center;">Total </div>
                                  <div class="divTableCell"
                                    style="
                                    font-size:25px;
                                    font-weight:bold;
                                    text-align: center;
                                    background-color: lightblue;
                                    ">
                                    <span> $ {{total | number:'1.0-0' }} </span>
                                   </div>
                            		</div>
                            	</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </div>
              </div>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
</form>
