<div class="container-fluid">
  <div class="row sidebar-owner">
    <div class="sidebar-backdrop"></div>
    <div class=" col-md-12">
      <div class="sidebar-outer">
        <div class="container-padding">
          <div class="page-header">
            <ol class="breadcrumb pgui-breadcrumb">
              <li>
                <a href="#"><i class="icon-home"></i></a>
              </li>
              <li class="dropdown">
                <a href="#">Listado de Ordenes de Servicios</a>
              </li>
              <li class="dropdown">Ordenes de Servicios</li>
            </ol>
            <h1>Mis ordenes de servicio</h1>
          </div>
          <div class="divTable">
          	<div class="divTableBody">
          		<div class="divTableRow">
          			<div class="divTableCell">
                <p id="rcorners2">
                   <b style="font-size: 20px;">435</b>
                   <br>
                   <font size="2" color="#DC143C">Instalaciones ejecutadas</font>
                   <br>
                   <i style="font-size: 50px; padding-left: 100px;" class="icon-settings"></i>
                </p>
                </div>
                <div class="divTableCell">
                <p id="rcorners2">
                   <b style="font-size: 20px;">250</b>
                   <br>
                   <font size="2" color="#DC143C">Instalaciones pendientes</font>
                   <br>
                   <i style="font-size: 50px; padding-left: 100px;" class="icon-time"></i>
                </p>
                </div>
                <div class="divTableCell">
                <p id="rcorners2">
                   <b style="font-size: 20px;">29</b>
                   <br>
                   <font size="2" color="#DC143C">Ordenes pendientes</font>
                   <br>
                   <i style="font-size: 50px; padding-left: 100px;" class="icon-home"></i>
                </p>
                </div>
                <div class="divTableCell">
                <p id="rcorners2">
                   <b style="font-size: 20px;">54</b>
                   <br>
                   <font size="2" color="#DC143C">Ordenes ejecutadas</font>
                   <br>
                   <i style="font-size: 50px; padding-left: 100px;" class="icon-question"></i>
                </p>
                </div>
          		</div>
          	</div>
          </div>
          <div class="grid grid-table js-grid">
            <div class="addition-block js-actions">
              <div class="btn-toolbar addition-block-left pull-left">
                <div class="btn-group">
                    <span class="visible-lg-inline">
                      <div class="divTable">
                      	<div class="divTableBody">
                          <div class="divTableRow">
                            <div class="divTableCell">&nbsp;</div>
                            <div class="divTableCell">&nbsp;</div>
                          </div>
                      		<div class="divTableRow">
                      			<div class="divTableCell"><b>Numero Contrato:</b> ({{numeroContrato}})</div>
                      			<div class="divTableCell"><b>Nombre Cliente :</b> {{NombrePersona}}</div>
                      		</div>
                      		<div class="divTableRow">
                      			<div class="divTableCell"><b>Nùmero documento:</b> {{NumeroDocumento}} </div>
                      			<div class="divTableCell"><b>Telefono:</b> {{Telefono}} </div>
                      		</div>
                      		<div class="divTableRow">
                      			<div class="divTableCell"><b>Zona:</b> {{ZonaSector}} </div>
                      			<div class="divTableCell"><b>Direcciòn</b> {{Direccion}} </div>
                      		</div>
                          <div class="divTableRow">
                            <div class="divTableCell">&nbsp;</div>
                            <div class="divTableCell">&nbsp;</div>
                          </div>
                      	</div>
                      </div>
                    </span>
                </div>
              </div>
              <div class="btn-toolbar addition-block-left pull-right">
                <div class="btn-group">
                  <a class="btn btn-default pgui-add" routerLink="/ordenesservicios" title="Regresar">
                    <i class="icon-chevron-left"></i>
                    <span class="visible-lg-inline">Regresar</span>
                  </a>
                </div>
                <div class="btn-group">
                  <a class="btn btn-default pgui-add"  routerLink="/ordenesservicios/create" [state]="numeroContrato"  title="Crear Orden de Servicio">
                    <i class="icon-plus"></i>
                    <span class="visible-lg-inline">Crear Orden</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="filter-status js-filter-status"></div>
            <div class="js-grid-message-container"></div>
            <table class="table text-center table-striped">
              <thead class="js-column-filter-container">
                <tr>
                  <th class="row-selection" rowspan="1" style="width:1%;">
                    <!--<input type="checkbox">-->
                  </th>
                  <th rowspan="1" style="width:1%;">Acciones</th>
                  <th class="" colspan="1" rowspan="1">
                    <span>Numero de Orden</span>
                  </th>
                  <th class="" colspan="1" rowspan="1">
                      <span>Tipos Orden</span>
                  </th>
                  <th class="" colspan="1" rowspan="1">
                      <span>Estado</span>
                  </th>
                  <th class="" colspan="1" rowspan="1">
                      <span>Fecha Creación</span>
                  </th>
                  <th class="" colspan="1" rowspan="1">
                      <span>Fecha de Atenciòn</span>
                  </th>
                  <th class="" colspan="1" rowspan="1">
                      <span>Costo</span>
                  </th>
                </tr>
              </thead>
              <tbody class="pg-row-list">
                <tr class="pg-row" style="" *ngFor="let orden of ordenesServicios | paginate: { itemsPerPage: 10, currentPage: p } " >

                  <td style="" >
                    <div class="row-selection">
                      <!--<input id="rec1" name="rec1" type="checkbox">-->
                    </div>
                  </td>
                  <td class="operation-column">
                    <span class="operation-item">
                      <a class="link-icon"  [routerLink]="['/ordenesservicios/view']" [state]="orden" title="Consultar Orden de Servicio">
                        <i class="icon-view"></i>
                      </a>
                    </span>
                    <span class="operation-item">
                      <a class="link-icon" [routerLink]="['/ordenesservicios/edit']" [state]="orden" title="Editar Orden de Servicio">
                        <i class="icon-edit"></i>
                      </a>
                    </span>
                    <span class="operation-item">
                      <a class="link-icon"  [routerLink]="['/ordenesservicios/delete']" [state]="orden" title="Anular Orden de Servicio">
                        <i class="icon-remove"></i>
                      </a>
                    </span>
                  </td>
                  <td class=" pgui-cell-edit">{{orden.soseNumero}}</td>
                  <td class=" pgui-cell-edit">{{orden.tiso.tisoDescripcion}}</td>
                  <td class=" pgui-cell-edit">{{orden.esso.essoDescripcion}}</td>
                  <td class=" pgui-cell-edit">{{orden.soseFechaCreacion |  date:'yyyy-MM-dd' }}</td>
                  <td class=" pgui-cell-edit">{{orden.soseFechaEjecucion | date:'yyyy-MM-dd' }}</td>
                  <td class=" pgui-cell-edit">{{orden.sosePrecio | number:'1.0-0' }}</td>
                </tr>
              </tbody>
              <tfoot></tfoot>
            </table>
          </div>
          <div class="page_navigator">
            <div class="pgui-pagination">
              <pagination-controls
                  class="pagination"
                  (pageChange)="p = $event"
                  previousLabel="Anterior"
                  nextLabel="Siguiente"
                  screenReaderPaginationLabel="Paginacion"
                  screenReaderPageLabel="Pagina"
                  screenReaderCurrentLabel="Estas en la pagina">
                </pagination-controls>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
